* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  display: flex;
  justify-content: center;
  color: #0094C6;
}

.app-title {
color: #0094C6;
display: flex;
justify-content: center;
}
